# Normalize line endings
* text=auto

# Treat images/audio as binary
*.jpg binary
*.png binary
*.mp3 binary

# Visual Studio project files as text
*.sln text eol=crlf
*.vcxproj text eol=crlf
*.filters text eol=crlf
